<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>

        <!-- Favicon -->
        <link rel="icon" href="../images/angel.png">

    <!-- Font-Awesome Script -->
    <script src="https://kit.fontawesome.com/5f0c0be05e.js" crossorigin="anonymous"></script>
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">




<link rel="stylesheet" href="/styles.css">


</head>

<body>
    <div class="form">
        <div class="title">Sentiment Analysis</div>
        <form method="post" action="/">
        <div class="input-container ic1">
          <input name="text" autocomplete="off" id="firstname" class="input" type="text" placeholder="" />
          <div class="cut"></div>
          <label for="firstname" class="placeholder">Enter text</label>
        </div>
        <button  type="submit" class="submit">Submit</button>
        </form>
    </div>


    <!-- CARDS -->
    <div class="ag-format-container">
      <div class="ag-courses_box">
        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Input
            </div>
    
            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= text %>
              </span>
            </div>
          </a>
        </div>

        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Label
            </div>
    
            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= label %>
              </span>
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Score
            </div>
    
            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= score %>
              </span>
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Anger
            </div>
    
            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= anger %>
              </span>
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Joy
            </div>
    
            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= joy %>
              </span>
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Disgust
            </div>
    
            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= disgust %>
              </span>
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Fear
            </div>

            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= fear %>
              </span>
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="" class="ag-courses-item_link">
            <div class="ag-courses-item_bg">
            </div>
            <div class="ag-courses-item_title">
              Sadness
            </div>

            <div class="ag-courses-item_date-box">
              value:
              <span class="ag-courses-item_date">
                <%= sadness %>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    
</body>
</html>